@charset "UTF-8";

.payment {
	margin: auto;
	width: 800px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.th {
	background-color: #f9fafb;
	width: 120px;
	
}

.success {
	margin: auto;
	width: 300px;
	padding-top: 100px;
}

.orderList {
	margin: auto;
	width: 800px;
	padding-top: 100px;
	padding-bottom: 100px;
}